/*Preliminary CSS*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Parisienne&family=Poppins:wght@400;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --font-Parisienne :'Parisienne', cursive;
}


/*Body CSS*/
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1440px;
    min-height: 800px;
    background-image: url(./images/bg-desktop.svg);
    background-color: #684BB1;
    background-repeat: no-repeat;
}
@media only screen and (max-width: 1260px) {
    body {
        max-width: 375px;
        background-image: url(./images/bg-mobile.svg);
    }
}



/*Main Container CSS*/
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1280px;
    height: 700px;
    margin-top:60px;
    margin-bottom: 20px;
}
@media only screen and (max-width: 768px) {
    .container {
        width: 300px;
        height: 800px;
        margin-top:35px;
    }
}


#logo-image {
    display: flex;
    align-self: flex-start;
    width: 300px;
    height: 56px;
    margin-left: -40px;
}
@media only screen and (max-width: 768px) {
    #logo-image {
        width: 130px;
        height: 56px;
        margin-left: 0px;
    }
}



/*Main Section CSS*/
.main-section {
    display: flex;
    flex-direction: row;
    margin-top: 76px;
}
@media only screen and (max-width: 768px) {
    .main-section {
        flex-direction: column;
        margin-top: 56px;
    }
}



/*Left Section CSS and Top section in responsive design*/
.left-section img {
    width: 696px;
    height: 493px;
}
@media only screen and (max-width: 768px) {
    .left-section img {
        width: 296px;
        height: 209px;
    }
}

@media only screen and (max-width: 768px) {
    .left-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}



/*Right Section CSS and Bottom section in responsive design*/
.right-section {
    margin: 32px 14px 0 59px;
}
@media only screen and (max-width: 768px) {
    .right-section {
        margin: 60px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    color: #FFFFFF;
}
@media only screen and (max-width: 768px) {
    h1 {
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    }
}


.right-section p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    margin: 24px 0;
}
@media only screen and (max-width: 768px) {
    .right-section p {
        font-size: 16px;
        line-height: 24px;
        margin: 16px auto 24px;
        text-align: center;
    }
}


button {
    width: 200px;
    height: 56px;
    background-color: #FFFFFF;
    box-shadow: 2px 4px 9px 3px rgba(0, 0, 0, 0.258633);
    border-radius: 28px;
    border: 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #684BB1;
}
@media only screen and (max-width: 768px) {
    button {
        height: 40px;
        box-shadow: 1px 3px 5px rgba#00000042;
        border-radius: 20px;
        font-size: 12px;
        line-height: 18px;
        color: #684BB1;
    }
}
button:hover {
    background-color: #E880E8;
    color: white;
    cursor: pointer;
}



/*Social icones CSS*/
.social {
    display: flex;
    align-self: flex-end;
    justify-content: space-between;
    width: 152px;
    height: 40px;
}
@media only screen and (max-width: 768px) {
    .social {
        align-self: center;
        width: 104px;
        height: 28px;
    }
}

.social img {
   height: 40px;
   width: 40px;
   border-radius: 50%;
   border: solid 1px black;
   padding: 8px;
   filter: invert(100%) sepia(0%) saturate(710%) hue-rotate(183deg) brightness(110%) contrast(101%);
}
@media only screen and (max-width: 768px) {
    .social img {
        height: 28px;
        width: 27.5px;
        padding: 6px;
     }
}
.social img:hover {
    filter: invert(51%) sepia(17%) saturate(6158%) hue-rotate(294deg) brightness(101%) contrast(101%);
}



/*Footer CSS*/
.attribution { 
    font-size: 14px; 
    color: white;
    text-align: center;
}

.attribution c,a {
    text-decoration: none; 
}

.ddd {
    font-size: 16px; 
    color: rgb(255, 120, 0);
    font-family: 'Monotype Corsiva', var(--font-Parisienne);
}

@media only screen and (max-width: 768px) {

    .ddd {
        font-size: 12px; 
        color: rgb(255, 120, 0);
        font-family: var(--font-Parisienne);
        font-weight: bold;
    }
}