/*Preliminary CSS*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Parisienne&family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root{
    --font-Parisienne :'Parisienne', cursive;
    --font-Poppins : 'Poppins', sans-serif;
    --font-Open : 'Open Sans', sans-serif;
}

body {
    width: 1440px;
}

@media only screen and (max-width: 767px) {
    body {
        width: 375px;
    }
}


/*Main CSS*/

.signboard {
    background-image: url(images/bg-desktop.svg);
    background-color: rgba(103, 75, 175);
    height: 797.4808px;
    /*width: 1440px;*/
    background-repeat: no-repeat;
    margin-bottom: 20px;
}

@media only screen and (max-width: 767px) {
    .signboard {
    background-image: url(images/bg-mobile.svg);
    height: 797.4808px;
    }
}


/*Title CSS*/

.title img {
    width: 204px;
    margin-left: 79px;
    margin-top: 56px;
}

@media only screen and (max-width: 767px) {
    .title img {
        width: 130px;
        margin-left: 40px;
        margin-top: 36px;
    }
}


/*Middle CSS*/

.middle {
    display: flex;
    flex-direction: row;
    margin-top: 90px;
}

@media only screen and (max-width: 767px) {
    .middle {
        flex-direction: column;
        margin-top: 52px;
    }
}


/*Left CSS*/

.left img {
    margin-left: 79px;
    width: 695px;
}

@media only screen and (max-width: 767px) {
    .left img {
        margin-left: 40px;
        width: 300px;
    }
}


/*Right CSS*/

.right {
    margin-left: 56px;
}

@media only screen and (max-width: 767px) {
    .right {
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


/*H2 CSS*/

h2 {
    margin-top: 40px;
    margin-right: 80px;
    font-family: var(--font-Poppins);
    font-size: 40px;
    color: white;
    font-weight: 600;
}

@media only screen and (max-width: 767px) {
    h2 {
        margin-top: 56px;
        margin-right: 40px;
        margin-left: 40px;
        font-size: 24px;
        text-align: center;
    }
}


/*P CSS*/

p {
    margin: 20px 86px 0 0;
    font-size: 18px;
    font-family: var(--font-Open);
    color: white;
    font-weight: 400;
    line-height: 28px;
}

@media only screen and (max-width: 767px) {
    p {
        margin: 20px 35px 0 35px;
        font-size: 16px;
        color: rgba(255, 255, 255, 0.815);
        line-height: 24px;
        text-align: center;
    }
}


/*Button CSS*/

.button {
    border-radius: 30px;
    width: 200px;
    height: 53px;
    border: 0px solid;
    margin-top: 26px;
    box-shadow: 2px 2px 15px hsl(257, 56%, 21%);
    color: hsl(257, 40%, 49%);
    font-family: var(--font-Poppins);
    font-size: 16px;
}

@media only screen and (max-width: 767px) {
    .button {
        height: 42px;
        font-size: 13px;
    }
}

.button:hover {
    background-color: hsl(300, 69%, 71%);
    color: white;
}


/*Social CSS*/

.social {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 80px;
}

@media only screen and (max-width: 767px) {
    .social {
        justify-content: center;
        padding-right: 0px;
    }
}


.social img {
    width: 20px;
    height: 20px;
    border: solid 1px rgb(0, 0, 0);
    border-radius: 100%;
    margin: 150px 7px 0 7px;
    padding: 10px;
    filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(116deg) brightness(104%) contrast(101%);
}

@media only screen and (max-width: 767px) {
    .social img {
        width: 16px;
        height: 16px;
        margin: 60px 7px 0 7px;
        padding: 7px;
    }
}


.social img:hover {
    filter: invert(44%) sepia(66%) saturate(2254%) hue-rotate(286deg) brightness(99%) contrast(94%);
}



/*Footer CSS*/

.attribution { 
    font-size: 14px; text-align: center;
}

.attribution c,a {
    text-decoration: none; 
}

.ddd {
    font-size: 16px; 
    color: rgb(255, 120, 0);
    font-family: 'Monotype Corsiva', var(--font-Parisienne);
}

@media only screen and (max-width: 768px) {
    .ddd {
        font-size: 12px; 
        color: rgb(255, 120, 0);
        font-family: var(--font-Parisienne);
        font-weight: bold;
    }
}